@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

body {
    font-family: var(--font-family-system), sans-serif;
    @include font(14);
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
